.root {
  padding: 62px 0 160px 0;
  background-color: black;
  .top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      text-transform: capitalize;
      color: white;
    }
  }
  .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 64px;
        margin-bottom: 64px;
    }
    .more {
        display: flex;
        justify-content: center;
    }
}
