@mixin mobile {
  @media screen and (max-width: 770px) {
    @content;
  }
}

.root {
  background-color: black;
  h1 {
    margin: 64px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;

    @include mobile {
      margin: 24px 0;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    gap: 64px;
    @include mobile {
      gap: 24px;
    }
  }
  .tab {
    padding: 8px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    background: none;
    gap: 7px;
    span {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
    }
    &__active {
      border-bottom: 1.5px solid rgba(220, 93, 252, 1);
    }
  }
}
